/* animations */
@keyframes hover{
  from {
    scale: 1;
  }
  to {
    scale: 0.8;
  }
}
/* colors */
:root {
  --primary-color: #FDF1DD;
  --secondary-color: #DDD7C5;
  --contrast-color: #438088;
  --background-color: #373B41;

  --header-background-color: #1a1d20;
}
* {
  margin: 0;
  padding: 0;
  border-radius: 8px;
}
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Roboto", serif;
  font-weight: 300;
}

.header {
  background-color: var(--header-background-color);
  font-size: 24px;
  font-weight: 600;
  padding: 25px 100px;
}
main {
  margin: 50px 100px;
  width: 50%;
  float: left;
}
aside {
  width: 20%;
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}
main .car {
  margin-bottom: 50px;
  background-color: var(--contrast-color);
  padding: 20px;
}

/* icons */
.edit-icon {
  float: right;
  margin-right: 25px;
}
.edit-icon, .delete-icon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(2);
  color: var(--primary-color);
  float: right;
}
.delete-icon:hover,
.edit-icon:hover {
  transform: scale(2.15);
}
.edit-icon:active, .delete-icon:active {
  transform: scale(1.85);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside form input, aside form textarea, aside form button {
  width: 90%;
  padding: 15px 5%;
  font-family: "Roboto", serif;
  font-weight: 300;
  margin-bottom: 10px;
  border: 0;
  background: var(--header-background-color);
  color: var(--secondary-color);
  outline: none;
  font-size: 15px;
}
button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}