:root {
  --primary-color: #FDF1DD;
  --secondary-color: #DDD7C5;
  --contrast-color: #33595E;
  --background-color: #373B41;

  --header-color: #1a1d20;
}
* {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--secondary-color);
}
.header {
  background-color: var(--header-color);
  padding: 20px;
  font-size: 24px;
}