/* colors */
:root {
  --primary-color: #FDF1DD;
  --secondary-color: #DDD7C5;
  --contrast-color: #438088;
  --background-color: #373B41;

  --header-background-color: #1a1d20;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Roboto", serif;
  font-weight: 300;
}

.header {
  background-color: var(--header-background-color);
  font-size: 24px;
  font-weight: 600;
  padding: 25px 100px;
}
main {
  margin: 50px 100px;
  width: 50%;
  float: left;
}
aside {
  width: 20%;
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}
main .car {
  margin-bottom: 50px;
  background-color: var(--contrast-color);
  padding: 20px;
}

/* icons */
.delete-icon {
  float: right;
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(2);
}
.edit-icon {
  float: right;
  margin-right: 25px;
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(2);
}
.delete-icon:hover,
.edit-icon:hover {
  opacity: 0.5;
}